<div class="container" *ngIf="!personajesCargados">
  <h1 class="center-title">Personajes de Rick y Morty</h1>
  <button class="main-button" (click)="buscoPersonajes()">
    Ver Personajes
  </button>
</div>

<div class="container" *ngIf="personajesCargados">
  <div class="button-container">
    <button class="nav-button" (click)="irA(prevPage)" *ngIf="prevPage">
      Anterior
    </button>
    <button class="nav-button" (click)="irA(nextPage)">
      Siguiente
    </button>
  </div>

  <div class="characters"> 
    <div *ngFor="let personaje of listaPersonajes" class="character" (click)="openModal(personaje)">
      <img [src]="personaje.image" alt="Imagen del personaje" />
      <p>{{personaje.name}}</p>
    </div>
  </div>
  <app-character-modal [character]="selectedCharacter"></app-character-modal>
</div>
